<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-brand">Welcome &nbsp<span class="member-name"></span></a>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="column-top">
                <img class="image" id="header-sides" src="/assets/noProbePlease.png" alt="abduct">
            </div>
            <div class="column-top">
                <img class="image" id="header-logo" src="/assets/logo_transparent.png" alt="logo">
            </div>
            <div class="column-top">
                <img class="image" id="header-sides" src="/assets/noProbePleaseInvert.png" alt="abduct">
            </div>
        </div>
    </div>
</section>
<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Normal is an illusion.
            </h1>
            <br>
            <h2 class="subtitle">
                What is normal for the spider is chaos for the fly.
            </h2>
        </div>
    </div>
</section>

<nav class="breadcrumb has-bullet-separator is-centered" aria-label="breadcrumbs">
  <ul>
      {{!-- need correct href links inserted here --}}
    <li><a class="categoryBtn" href="/members"><strong>P.A.R.</strong></a></li>
    <li><a class="categoryBtn" href="/members/General">General</a></li>
    <li><a class="categoryBtn" href="/members/Sasquatch">Sasquatch</a></li>
    <li><a class="categoryBtn" href="/members/Chem Trails">Chem Trails</a></li>
    <li><a class="categoryBtn" href="/members/Abductions">Abductions</a></li>
    <li><a class="categoryBtn" href="/members/UFO's">UFO's</a></li>
    <li><a class="categoryBtn" href="/members/Flat Earth">Flat Earth</a></li>
    <li><a class="categoryBtn" href="/members/Hauntings">Hauntings</a></li>
    <li><a class="categoryBtn" href="/members/Lizard People">Lizard People</a></li>
  </ul>
</nav>
<!-- © wdisseny -->
        <div id="contain_moon" style="text-align:center;padding-top:5px;padding-bottom:5px;">
            <div style="font-weight:bold">"The Moon" today</div>
            <div style=""></div>
            <div>.</div>
            <div style="font-size:small"></div>
        </div>
        <script
            type="text/javascript">(function () { var d = new Date().getDate(); var m = document.querySelectorAll("#contain_moon div"); var a = new XMLHttpRequest(); var url = "https://www.icalendar37.net/lunar/api/?lang=en&month=" + (new Date().getMonth() + 1) + "&year=" + (new Date().getFullYear()) + "&size=100&lightColor=rgb(255,255,255)&shadeColor=rgb(17,17,17)&LDZ=" + new Date(new Date().getFullYear(), new Date().getMonth(), 1) / 1000 + ""; m[1].style.height = "100px"; a.onreadystatechange = function () { if (a.readyState == 4 && a.status == 200) { var b = JSON.parse(a.responseText); m[1].innerHTML = b.phase[d].svg; if (typeof moon_widget_loaded == "function") moon_widget_loaded(b); m[2].innerHTML = b.phase[d].npWidget } }; a.open("GET", url, true); a.send() })()</script>
    </div>
    <div class="column is-full">
        <h2>Report Paranormal Activity Here!</h2>
        <form class="create-form">
            <div class="select card">
                <select id="post-category">
                    <option>General</option>
                    <option>Sasquatch</option>
                    <option>Chem Trails</option>
                    <option>Abductions</option>
                    <option>UFO's</option>
                    <option>Flat Earth</option>
                    <option>Hauntings</option>
                    <option>Lizard People</option>
                </select>
            </div>
            <input class="input card" type="text" id="titleText" placeholder="Title">
            <textarea class="textarea card" id="inputText" maxlength="255"
                placeholder="e.g. Why to never run out of tin foil..."></textarea>
            <button class="button is-warning card" id="submitBtn">Create Report!</button>
        </form>
        <p>Reports</p>
        {{#each posts}}
        <div class="card post">
            <div class="card-content">
                <p class="title">{{dataValues.title}}</p>
                <p class="subtitle">{{dataValues.body}}</p>
                <p class="subtitle">Posted in: <strong>{{dataValues.category}}</strong> by
                    <strong>{{dataValues.author}}</strong></p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>
<br><br><hr><br><br>
<div class="lower-area">
<!-- @eduardosada -->
<div class="ufo">
    <div class="monster" style="color: #7cb342">
        <div class="body">
            <div class="ear"></div>
            <div class="ear"></div>
            <div class="vampi-mouth">
                <div class="vampi-tooth"></div>
            </div>
        </div>
        <div class="eyes">
            <div class="eye">
                <div class="pupil"></div>
            </div>
        </div>
    </div>
    <div class="ship">
        <div class="glass"></div>
        <div class="base">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
</div>
<br><br><br>
